<div class="col-md-4 ml-auto mr-auto">
  <div class="card card-login card-plain">
    <form action="" method="post">
      <div class="card-header text-center">
        Login
      </div>
      <div class="card-body">
        
        <div class="input-group input-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-user"></i>
            </span>
          </div>
          <input class="form-control" type="text" name="username" id="username" placeholder="Username">
        </div>
        <br>
        <div class="input-group input-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <input class="form-control" type="password" name="password" id="password" placeholder="Password">
        </div>
      </div>
      <div class="card-footer text-center">
        <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Login</button>
      </div>
    </form>
  </div>
</div>