<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {{> css}}

  <title>HUFMANWeb | {{pageTitle}}</title>
</head>
<body class="sidebar-mini sidebar-open">

  {{> navbar}}

  {{> sidebar}}


  <div class="content-wrapper">
  {{> messages}}
    {{{body}}}
  </div>

  {{> footer}}

  {{> js}}
</body>
</html>