<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {{> css}}

  <title>HUFMANWeb | {{pageTitle}}</title>
</head>
<body>

  {{> navbar}}

  {{> sidebar}}

  {{#if errorMessage}}
  <div class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>
  {{/if}}
  <div class="content-wrapper">
    {{{body}}}
  </div>

  {{> footer}}

  {{> js}}
</body>
</html>