<h1>New VANT</h1>

<form action="/vants/new" method="post">
  <div>
    <label for="typeId">typeId</label>
    <input type="text" name="typeId" id="typeId">
  </div>
  <div>
    <label for="valueId">valueId</label>
    <input type="text" name="valueId" id="valueId">
  </div>
  <div>
    <label for="model">model</label>
    <input type="text" name="model" id="model">
  </div>
  <div>
    <label for="type">type</label>
    <input type="text" name="type" id="type">
  </div>
  <div>
    <label for="manufacturer">manufacturer</label>
    <input type="text" name="manufacturer" id="manufacturer">
  </div>
  <div>
    <label for="comunication">comunication</label>
    <input type="text" name="comunication" id="comunication">
  </div>
  <div>
    <label for="tecType">tecType</label>
    <input type="text" name="tecType" id="tecType">
  </div>
  <div>
    <label for="tecAddress">tecAddress</label>
    <input type="text" name="tecAddress" id="tecAddress">
  </div>
  <input type="submit" value="Create">
</form>