<h1>New Component</h1>

<form action="/components/new" method="post">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </div>
  <div>
    <label for="brand">Brand</label>
    <input type="text" name="brand" id="brand">
  </div>
  <div>
    <label for="serialNumber">Serial Number</label>
    <input type="text" name="serialNumber" id="serialNumber">
  </div>
  <input type="submit" value="Create">
</form>