<form action="/compvants/{{compVant.compVantId}}" method="post">
  <div>
    <label for="typeId">typeId</label>
    <input type="text" name="typeId" id="typeId" value="{{compVant.typeId}}">
  </div>
  <div>
    <label for="valueId">valueId</label>
    <input type="text" name="valueId" id="valueId" value="{{compVant.valueId}}">
  </div>
  <div>
    <label for="name">name</label>
    <input type="text" name="name" id="name" value="{{compVant.name}}">
  </div>

  <input type="submit" value="Save">
</form>