<h1>New CompVant</h1>

<form action="/compvants/new" method="post">
  <div>
    <label for="typeId">typeId</label>
    <input type="text" name="typeId" id="typeId">
  </div>
  <div>
    <label for="valueId">valueId</label>
    <input type="text" name="valueId" id="valueId">
  </div>
  <div>
    <label for="name">name</label>
    <input type="text" name="name" id="name">
  </div>

  <input type="submit" value="Create">
</form>