<h1>New Mission</h1>

<form action="/missions/new" method="post">
  <div>
    <label for="client">Client</label>
    <input type="text" name="client" id="client">
  </div>
  <div>
    <label for="architecture">Architecture</label>
    <input type="text" name="architecture" id="architecture">
  </div>
  <div>
    <label for="centralVant">Central VANT</label>
    <input type="text" name="centralVant" id="centralVant">
  </div>
  <div>
    <label for="formation">Formation</label>
    <input type="text" name="formation" id="formation">
  </div>
  <input type="submit" value="Create">
</form>