<h1>New Phase</h1>

<form action="/phases/new" method="post">
  <div>
    <label for="missionId">Mission Id</label>
    <input type="text" name="missionId" id="missionId">
  </div>
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </div>
  <input type="submit" value="Create">
</form>