<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">New XML</h1>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <br>
          <div class="row text-center">
            <div class="col-md-6">
              <a href="/xml/interfaces" class="btn btn-lg btn-primary">Add Interfaces</a>
            </div>
            <div class="col-md-6">
              <a href="/xml/objects" class="btn btn-lg btn-primary">Add Objects</a>
            </div>
          </div>
          <br>
          <div class="row text-center">
            <div class="col-md-12">
              <a href="/xml/download" class="btn btn-lg btn-primary">Download</a>
            </div>
          </div>
          <br>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a href="/xml" class="btn btn-lg btn-primary">New XML</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>