<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Generate XML</h1>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Objects</h3>
          </div>
          <form action="/xml/objects" method="post">
            <div class="card-body">
              <div class="form-group">
                <label for="unitId">ID</label>
                <input class="form-control" type="text" name="unitId" id="unitId">
              </div>
              <div class="form-group">
                <label for="unitType">Unit Type</label>
                <select class="form-control" name="unitType" id="unitType">
                  <option value="Module">Module</option>
                  <option value="Cluster">Cluster</option>
                </select>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary" type="submit">Next</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>