<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Object Configuration</h1>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="row text-center">
            <div class="col-md-6">
              <a href="/xml/addInterface" class="btn btn-lg btn-primary">Add Interface</a>
            </div>
            <div class="col-md-6">
              <a href="/xml/addComponent" class="btn btn-lg btn-primary">Add Component</a>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-12">
              <a href="/xml/newXML" class="btn btn-lg btn-primary">Back</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>